#logo{

	body{
		background-color: blue;

	}
	#total-orders{
		background-color: green;

	}
	#orders-delivers{
		background-color: blue;

	}
	#orders-pending{
		background-color: lightblue;
	}
}